@{
    var description = "HITMAN status website provides the current status and incident reporting for HITMAN online services.";
    var title = ViewData["Title"] != null ? string.Format("{0} - HITMAN Status", ViewData["Title"]) : "HITMAN Status";
}

<!--
  _  _ ___ _____ __  __   _   _  _     ___ _____ _ _____ _   _ ___
 | || |_ _|_   _|  \/  | /_\ | \| |   / __|_   _/_\_   _| | | / __|
 | __ || |  | | | |\/| |/ _ \| .` |   \__ \ | |/ _ \| | | |_| \__ \
 |_||_|___| |_| |_|  |_/_/ \_\_|\_|   |___/ |_/_/ \_\_|  \___/|___/

   BuildID : 2019070601

                     /|
                     \\  \`.
                ,'/  ||   ) `.
              ,' (   //,-'_,-'    ,
             `-._`-.  |  (_____,-'/
        \`-._____)  | | ,-'-.    /
         \    ,-'-. | |/     ) ,'
          `. (     \|     _,','
            `.`._

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@description" />
    <meta name="keywords" content="HITMAN, online, services, status" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:url" content="https://hitmanstat.us/" />
    <meta property="og:image" content="https://hitmanstat.us/images/og-image.jpg?v=1" />
    <meta name="apple-mobile-web-app-title" content="@title" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="@title" />
    <meta name="theme-color" content="#ffffff" />

    <title>@title</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png?v=5" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png?v=5" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png?v=5" />
    <link rel="manifest" href="~/manifest.json?v=5" />
    <link rel="mask-icon" href="~/images/safari-pinned-tab.svg?v=5" color="#495463" />
    <link rel="shortcut icon" href="~/favicon.ico?v=5" />

    <link rel="stylesheet" href="~/css/stylesheets.min.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column">
    <header>
        <partial name="_Navbar">
    </header>

    @RenderSection("EventsHeader", required: false)

    <div class="container mb-4">
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto bg-dark box-shadow">
        <div class="container">
            <div class="text-center text-muted">
                <p>&copy; 2017 - @DateTime.Now.Year HITMAN Status made with &hearts; by Hardware.</p>
                <p>Services informations come from an official source handsomely provided by IOI.</p>
                <p>HITMAN&trade; and HITMAN&trade; 2 are trademarks owned and exclusively licensed to <a href="https://www.ioi.dk/">Io-Interactive A/S</a>.</p>
            </div>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
